<body class="menu">
  <div class="w-50 p-3 mx-auto d-flex flex-column align-items-center">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="usuario/menu">Menu Principal</a></li>
            <li class="breadcrumb-item active" aria-current="page">Menu Reclusos</li>
          </ol>
        </nav>   


    <h1 class="text-center">Menu De Reclusos</h1>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="menu/recluso/alta-recluso" class="link-offset-2 link-underline link-underline-opacity-0">Ingresar nuevo Recluso</a>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="menu/recluso/buscar-recluso" class="link-offset-2 link-underline link-underline-opacity-0">Buscar Recluso</a>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="menu/recluso/liberar-recluso" class="link-offset-2 link-underline link-underline-opacity-0">Reclusos a liberar</a>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="usuario/menu" class="link-offset-2 link-underline link-underline-opacity-0">Retorno al Menu de Principal</a>
    </div>


    
  

