
<body class="listado"> 
  <div class="w-50 p-3">
    <a class="icon-link icon-link-hover" href="usuario/:menu">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <p></p>
    <h1 class="text-center">Sentencias Activas</h1>
    <p></p>
    
    <ul>
      @for (item of service.sentencia.data; track $index) {
        <ul class="list-group">
          <li class="list-group-item disabled" aria-disabled="true">
            <h4>
              Codigo de sentencia: {{item.cod_sentencia}}<br>
              Nombre: {{item.nombre}} <br>
              Descripcion: {{item.descripcion}}<br>
              Duracion en años: {{item.duracion_anios}}<br>
              Orden de gravedad: {{item.orden_de_gravedad}}<br>
            </h4>
            </li>
        </ul>
        <p></p>
      }
    </ul> 
  </div>  
</body>
