<body class="listado">
  <div class="w-75 p-3">
    <h1 class="text-center mb-4">Sentencias Activas</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (item of service.sentencia.data; track $index) {
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{item.nombre}}</h5>
              <hr>
              <p class="card-text"><strong>Codigo:</strong> {{item.cod_sentencia}}</p>
              <p class="card-text"><strong>Descripción:</strong> {{item.descripcion}}</p>
              <p class="card-text"><strong>Duración:</strong> {{item.duracion_anios}} años</p>
            </div>
          </div>
        </div>
      }
    </div>

  </div>
</body>