<body class="formulario">
    <div class="w-25 p-3">
        <a class="icon-link icon-link-hover" href="menu/guardia">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
        <p></p>
        <h2 class="text-center mb-4">Finalizar Contrato</h2>

        <form [formGroup]="guardia" (submit)="validarGuarida()">
            <p></p>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Codigo de guardia</span>
              <input type="text" formControlName="cod_guardia" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
      
            <button (click)="finalizarContrato()" type="button" class="btn btn-primary">Finalizar contrato</button>
            <!--<button [disabled]="guardia.invalid" type="button" class="btn btn-primary">Enviar</button> -->
            <p></p>
        </form>
        @if (fin==="exito") {
            <div class="alert alert-success" role="alert">
                <p>Contrato finalizado</p>
            </div>
        }
        @if (fin==="no encontrado") {
            <div class="alert alert-danger" role="alert">
                <p>Guardia no encontrado</p>
            </div>
        }
        @if (fin==="finalizado") {
            <div class="alert alert-warning" role="alert">
                <p>Contrato ya fue anteriormente finalizado</p>
            </div>
        }
        
    </div>
</body>
