
<body class="formulario">
    <div class="w-25 p-3">
        <a class="icon-link icon-link-hover" href="menu/guardia">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
        <p></p>
        <h2 class="text-center mb-4">Crear un nuevo guardia</h2>

        <form [formGroup]="guardia" (submit)="enviarGuarida()">

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
              <input type="text" formControlName="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
      
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
              <input type="text" formControlName="apellido" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
      
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Dni</span>
              <input type="number" formControlName="dni" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <button (click)="enviarGuarida()" [disabled]="guardia.invalid" type="button" class="btn btn-primary">Enviar</button>
            <!-- <button [disabled]="guardia.invalid" type="button" class="btn btn-primary">Enviar</button> -->
            <p></p>
        </form>
        @if(bandera === 'creado'){
            <div class="alert alert-success" role="alert">
                <h5>GUARDIA GUARDADO</h5>
            </div>
        }
        @if(bandera === 'existente'){
            <div class="alert alert-primary" role="alert">
                <h5>GUARDIA EXISTENTE CONTRATADO</h5>
            </div>
        }
        @if(bandera === 'activo'){
            <div class="alert alert-danger" role="alert">
                <h5>GUARDIA YA EXISTENTE Y OPERATIVO</h5>
            </div>
        }
        @if(bandera === 'msj'){
            <div class="alert alert-danger" role="alert">
                <h5>{{error}}</h5>
            </div>
        }
    </div>


