<body class="login">
    <div class="w-25 p-3">
            
        <h1 class="text-center mb-4">BIENVENIDO</h1>
        <p></p>
                
                
                    <form [formGroup]="usuario" (submit)="validarUsuarios()" >
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control"  formControlName="cod_administrador" placeholder="ingrese codigo de usuario">
                            <label >codigo de usuario:</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control"  formControlName="contrasenia" placeholder="ingrese contraseña de usuario">
                            <label >contraseña:</label>
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="usuario.invalid">Ingresar</button>
                        <!-- <button (click)="validarUsuarios()" type="button" class="btn btn-primary" [disabled]="usuario.invalid">enviar</button> -->

                        <p></p>
                    </form>
                
                
                    @if (bandUsuario === 'no encontrado' || bandUsuario === 'incorrecto') {

                        <div  class="alert alert-warning" role="alert">
                            <h4>Usuario o contraseña incorrecta</h4>
                        </div>
                    }
                    @if ( bandUsuario == 'noAutorizado' ) {

                        <div  class="alert alert-warning" role="alert">
                            <h4>Sesión no fue correctamente autorizada, ingrese nuevamente</h4>
                        </div>
                    }@if (bandUsuario === 'expirado') {

                        <div  class="alert alert-warning" role="alert">
                            <h4>Sesión fue expirada, ingrese nuevamente</h4>
                        </div>
                    }
    </div>
    
</body>

