/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    background-color: #a2a6aa;
    margin: 0;
    padding: 0;
}
.tituloi{
  color: #f72104;
}
.checkbox{
  color: #ffffff;
}

.ilegal{
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  background-color: #090100
}
.formularioi{
  background-color: #090100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.listadoi{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #090100;
  width: 150vw;
  height: 150vh;
  color: white;
}
.login{
  background-color: #a2a6aa;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.body{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #a2a6aa
  }
.titulo{
    margin-bottom: 10px;
  }
.menu{
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  background-color: #a2a6aa
}
.formulario{
  background-color: #a2a6aa;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 10px;
}
.listado{
  background-color: #a2a6aa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  margin-top: 0;
}