

<body class="listado">
    <div class="w-25 p-3">
        <p></p>
        @if (bandera=== true) {
            <h3>Reclusos a liberar con condena finalizada</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                @for (item of sRecluso.reclusos.data; track $index) {
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{item.nombre}} {{item.apellido}}</h5>
                                <p class="card-text mb-1"><strong>DNI:</strong> {{item.dni}}</p>
                                <p class="card-text mb-1"><strong>Fecha de nacimiento:</strong> {{item.fecha_nac.getDate()}} / {{item.fecha_nac.getMonth() + 1}} / {{item.fecha_nac.getFullYear()}}</p>
                                <p class="card-text mb-0"><strong>Condena finalizada</strong></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        @if (bandera === false) {
            <div class="alert alert-warning" role="alert">
                <h4>No hay reclusos proximos a liberar</h4>
            </div>
        }
        @if (bandera === undefined) {
            <div class="alert alert-danger" role="alert">
                <h4> error de conexion con el servidor </h4>
            </div>
        }
        
    </div>        
</body>
    

