<body class="menu">
  <div class="container-fluid px-4 py-3">

    <div class="text-center mb-4">
      <h2>Sectores</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-4">
      @for (sector of service.sector.sectores; track $index) {
        <div class="col">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Numero de sector: {{sector.cod_sector}}</h5>
              <hr>

              <div class="d-flex justify-content-between mt-auto">
                <button [routerLink]="direccion" (click)="verCeldas(sector.cod_sector)" type="button" class="btn btn-outline-primary btn-sm">Celdas</button>
                <button [routerLink]="direccion" (click)="verTurnos(sector.cod_sector)" type="button" class="btn btn-outline-primary btn-sm">Turnos</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

  </div>
</body>