<body class="menu">
  <div class="w-50 p-3 mx-auto d-flex flex-column align-items-center">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="usuario/menu">Menu Principal</a></li>
            <li class="breadcrumb-item active" aria-current="page">Menu Guardias</li>
          </ol>
        </nav>   
       
    <h1 class="text-center">Menu de Guardias</h1>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="menu/guardia/alta-guardia" class="link-offset-2 link-underline link-underline-opacity-0">Registrar nuevo guardia</a>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="menu/guardia/buscar-guardia" class="link-offset-2 link-underline link-underline-opacity-0">Buscar Guardia</a>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="menu/guardia/finalizar-guarida" class="link-offset-2 link-underline link-underline-opacity-0">Finalizar Contrato de Guardia</a>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded w-50 text-center">
      <a href="menu/guardia/mostrar-guardia" class="link-offset-2 link-underline link-underline-opacity-0">Mostrar Guardias</a>
    </div>
   
  