
<body class="formulario">
  <div class="w-25 p-3">
    <a class="icon-link icon-link-hover" href="menu/actividad">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <h2 class="text-center mb-4">Eliminar Actividad</h2>
    <form [formGroup]="actividad" (submit)="validarActividad()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Codigo de Actividad:</span>
        <input  type="text" formControlName="cod_actividad" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
     
      <button  (click)="validarActividad()" type="button" class="btn btn-primary">Buscar</button>
    </form>
    <p></p>
    @if (bandActividad == true) {
    <div>
        <div class="alert alert-success" role="alert">
          <h5>{{mensaje}}</h5>
        </div>
    </div>
    }
    @if (bandActividad == false) {
    <div>
      <div class="alert alert-danger" role="alert">
        <h5>{{mensaje}}</h5>
      </div>
    </div>
    }

      
      



  </div>


