

<body class="menu">
  <div class="w-50 p-3 mx-auto d-flex flex-column align-items-center">
        <p></p>
    
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="../../../../assets/guardias.png" class="d-block w-100" alt="imagen 1">
            </div>

            <div class="carousel-item" data-bs-interval="2000">
              <img src="..." class="d-block w-100" alt="imagen 2">
            </div>

            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="imagen 3">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <p></p>
        <p></p>
        <p></p>
 
        @if (bandera === true) {

                  <div class="card" style="width: 18rem;">
                    <!-- <img src="../../../../assets/logo.png" class="card-img-top" alt="logo"> -->
                    <div class="card-body">
                      <h5 class="card-title">Libertadn't</h5>
                      <p class="card-text">Bienvenido Maestro a nuestro sistema de gestion especializado en carceles disponible 24/7</p>
                      <!-- <a href="usuario/menu-maestro/menu" class="btn btn-primary">Menu</a> -->
                    </div>
                  </div>

        }
  </div>
</body>
