<body class="listado">
    <div class="container d-flex justify-content-center">
        <div class="w-25"> <!-- Cambiado de w-25 a w-50 para más espacio controlado -->

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="usuario/menu">Menu Principal</a></li>
                    <li class="breadcrumb-item"><a href="usuario/menu/sector">Sector</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Celdas</li>
                </ol>
            </nav>
            <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <p></p>
            <h2 class="text-center">Celdas del sector</h2>
            <p></p>
            </div>

            
            @for (celda of service.celda.celdas; track $index) {
                <div class="d-flex justify-content-center mb-3"> <!-- Contenedor para centrar cada item -->
                    <div class="list-group w-75"> <!-- Ancho del 75% dentro del contenedor -->
                        <div class="list-group-item p-2"> <!-- Reducido padding -->
                            <p class="text-center mb-1"> <!-- Reducido margen inferior -->
                                Codigo de celda: {{celda.cod_celda}}<br>
                                Descripción: {{celda.descripcion}}<br>
                                Capacidad: {{celda.capacidad}}
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>

