<body class="listado">
  <div class="w-75 p-3">

    <div class="text-center">
      <h2 class="mb-4">Celdas del sector {{sector}}</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-4">
      @for (celda of service.celda.celdas; track $index) {
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Celda {{celda.cod_celda}}</h5>
              <hr>
              <p class="card-text"><strong>Descripción:</strong> {{celda.descripcion}}</p>
              <p class="card-text"><strong>Capacidad:</strong> {{celda.capacidad}}</p>
            </div>
          </div>
        </div>
      }
    </div>

  </div>
</body>