
<body class="formularioi">
    <div class="w-50 p-3">
        <a class="icon-link icon-link-hover" href="usuario/menu-maestro/menu">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
          
        <h2 class="tituloi">Ingrese los datos de la NUEVA actividad ILEGAL</h2>
        <p></p>
        <form [formGroup]="ilegal" (submit)="validarActividad()">
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    <input type="text" formControlName="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
                    <input type="text" formControlName="descripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Locacion</span>
                    <input type="text" formControlName="locacion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>      
            </fieldset>
            <fieldset>
                <div class="form-check form-check-inline">
                    <input  formControlName="dia_de_la_semana" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value=1>
                    <label class="form-check-label" for="inlineRadio1" class="checkbox">Lunes</label> 
                </div>
                <div class="form-check form-check-inline">
                    <input  formControlName="dia_de_la_semana" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="2">
                    <label class="form-check-label" for="inlineRadio1" class="checkbox">Martes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input  formControlName="dia_de_la_semana" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="3">
                    <label class="form-check-label" for="inlineRadio1" class="checkbox">miercoles</label>
                </div>
                <div class="form-check form-check-inline">
                    <input  formControlName="dia_de_la_semana" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="4">
                    <label class="form-check-label" for="inlineRadio1" class="checkbox">jueves</label>
                </div>
                <div class="form-check form-check-inline">
                    <input  formControlName="dia_de_la_semana" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="5">
                    <label class="form-check-label" for="inlineRadio1" class="checkbox">viernes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input  formControlName="dia_de_la_semana" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="6">
                    <label class="form-check-label" for="inlineRadio1" class="checkbox">sabado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input  formControlName="dia_de_la_semana" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="7">
                    <label class="form-check-label" for="inlineRadio1" class="checkbox">domingo</label>
                </div>     
            </fieldset>
            <p></p>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">cantidad maxima</span>
                    <input type="number" formControlName="cantidad_maxima" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">horario de inicio</span>
                    <input type="number" formControlName="hora_inicio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">horario de fin</span>
                    <input type="number" formControlName="hora_fin" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <button (click)="validarActividad()" [disabled]="ilegal.invalid" type="button" class="btn btn-light">enviar</button>
            
            
        </form>
        @if (bandera === 'existente') {
            <p></p>
            <div class="alert alert-warning" role="alert">
                <h4>actividad ya existente</h4>
            </div>
            }
        @if (bandera === 'error') {
            <p></p>
            <div class="alert alert-dark" role="alert">
                <h4>error al postear</h4>
            </div>
            }
        @if (bandera === 'correcto')
        { 
            <p></p>
            <div class="alert alert-success" role="alert">
                <h4>actividad registrada con exito</h4>
            </div>
            }
        @if (bandera === 'mensaje') {
            <p></p>
            <div class="alert alert-warning" role="alert">
                <h4>{{banana}}</h4>
            </div>
        }
    </div>
</body>

