
<body class="formulario">
  <div class="w-25 p-3">
    <a class="icon-link icon-link-hover" href="menu/recluso">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <p></p>
    <p></p>
    <h2>Buscar Recluso</h2>

    <form [formGroup]="recluso" (submit)="validarRecluso()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">DNI</span>
        <input type="text" formControlName="dni" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <button  (click)="validarRecluso()" [disabled]="recluso.invalid" type="button" class="btn btn-primary">Buscar </button>
      <p></p>
    </form>
    

    @if (bandera == true) {

      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h5>Nombre: {{service.recluso.data.nombre}}<br>
           Apellido: {{service.recluso.data.apellido}}<br>
            DNI: {{service.recluso.data.dni}}<br>
            Fecha de nacimiento:  {{fecha.getDate()}} / {{fecha.getMonth() + 1}} / {{fecha.getFullYear()}} </h5>
      </div>
      
    }
    @if (bandera == false) {
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <p>recluso no encontrado</p>
      </div>
    }
   

  </div>
</body>

