<body class="listado">
  <div class="w-75 p-3 mt-0 pt-0">
    <p></p>
    <div class="text-center">
      <img src="../../../../assets/guardias.png" class="img-fluid w-50" alt="imagen">
      <h2 class="mb-4">Guardias Activos</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-4">
      @for (item of service.guardias.data; track $index) {
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{item.nombre}} {{item.apellido}}</h5>
              <hr>
              <p class="card-text"><strong>Codigo:</strong> {{item.cod_guardia}}</p>
              <p class="card-text"><strong>DNI:</strong> {{item.dni}}</p>
            </div>
          </div>
        </div>
        
      }
    </div>

  </div>
</body>