<body class="listado">
  <div class="w-25 p-3">
    <a class="icon-link icon-link-hover" href="menu/guardia">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <h2 class="text-center mb-4">Guardias Activos</h2>
    <p></p>

    @for (item of service.guardias.data; track $index) {
      <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">
          <h5>Codigo de guardia: {{item.cod_guardia}}<br>
            Nombre: {{item.nombre}}<br>
            Apellido: {{item.apellido}}<br>
            DNI: {{item.dni}}<br>
          </h5>
        </li>
      </ul>
      <p></p>
      }
  </div>
  

  
  
  

  
    
