<body class="listadoi bg-dark text-light min-vh-100">
    <div class="w-50 p-3">
        <a class="icon-link icon-link-hover text-light" href="usuario/menu-maestro/menu">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
        <p></p>
        <h2 class="tituloi">Inscripcion a actividad ilegal</h2>
        <p></p>
        @if (banana) {
            <div>
                @for (item of service.ilegales; track $index) {
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item bg-dark text-light">
                            <h5>
                                {{item.nombre}}<br>
                                Locacion: {{item.locacion}} <br>
                                Descripcion: {{item.descripcion}} <br>
                                @if (item.dia_de_la_semana == 1) {Dia de la semana: Lunes <br>}
                                @if (item.dia_de_la_semana == 2) {Dia de la semana: Martes <br>}
                                @if (item.dia_de_la_semana == 3) {Dia de la semana: Miercoles <br>}
                                @if (item.dia_de_la_semana == 4) {Dia de la semana: Jueves <br>}
                                @if (item.dia_de_la_semana == 5) {Dia de la semana: Viernes <br>}
                                @if (item.dia_de_la_semana == 6) {Dia de la semana: Sabado <br>}
                                @if (item.dia_de_la_semana == 7) {Dia de la semana: Domingo <br>}
                                Hora de inicio: {{item.hora_inicio}} <br>
                                Hora de fin: {{item.hora_fin}} <br>
                                Cantidad maxima: {{item.cantidad_maxima}} <br>
                                Locacion: {{item.locacion}} <br>
                            </h5>
                        </li>
                        <p></p>
                        <button class="btn btn-primary" (click)="open(content)">Inscribir</button>

                        <ng-template #content let-modal>
                        <div class="modal-header bg-dark text-light">
                            <h4 class="modal-title">Inscripcion de recluso a {{item.nombre}} </h4>
                            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body bg-dark text-light">
                            <!-- resto del formulario -->
                        </div>
                        <div class="modal-footer bg-dark text-light">
                            <button [disabled]="recluso.invalid" (click)="validarRecluso(item)" type="button" class="btn btn-success">Inscribir</button>
                        </div>
                        </ng-template>   
                        <p></p>
                    </ul>
                    <p></p>
                }
            </div>
        }@else {
            <p></p>
            <div class="alert alert-danger" role="alert">
                <h4> NO hay actividades disponibles </h4>
            </div>
        }
    </div>
</body>
