<body class="ilegal">
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
        <div class="w-50 p-3 text-center">
            
            <nav aria-label="breadcrumb" class="mb-4">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="usuario/menu">Menu Principal</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Menu Ilegal</li>
                </ol>
            </nav>   
           
            <h2 class="tituloi mb-4">ACTIVIDADES ILEGALES</h2>
            
            <div class="d-flex flex-column align-items-center gap-4">
                <div class="shadow-lg p-4 mb-3 bg-body-tertiary rounded w-75">
                    <a href="usuario/menu-maestro/menu/alta-actvidad" class="link-offset-2 link-underline link-underline-opacity-0 text-decoration-none">
                        <h4 class="mb-0">Registrar nueva actividad ilegal</h4>
                    </a>
                </div>
                
                <div class="shadow-lg p-4 mb-3 bg-body-tertiary rounded w-75">
                    <a href="usuario/menu-maestro/menu/modificar-actividad" class="link-offset-2 link-underline link-underline-opacity-0 text-decoration-none">
                        <h4 class="mb-0">Modificar actividades ilegales</h4>
                    </a>
                </div>
                
                <div class="shadow-lg p-4 mb-3 bg-body-tertiary rounded w-75">
                    <a href="usuario/menu-maestro/menu/inscripcion-actividad" class="link-offset-2 link-underline link-underline-opacity-0 text-decoration-none">
                        <h4 class="mb-0">Inscripción a actividades ilegales</h4>
                    </a>
                </div>
                
                <div class="shadow-lg p-4 mb-3 bg-body-tertiary rounded w-75">
                    <a href="usuario/menu-maestro/menu/mostrar-actividad" class="link-offset-2 link-underline link-underline-opacity-0 text-decoration-none">
                        <h4 class="mb-0">Mostrar actividades ilegales</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
